In [10]:
import pandas as pd
import numpy as np

In [12]:
from clustergrammer2 import net
df = {}

clustergrammer2 backend version 0.2.9

In [13]:
df['ini'] = pd.read_csv('../challenge_data/dvs_challenge_1_membership_time_space.csv')

In [17]:
df['ini'].head()

,lat,long,data,visualization,society,date_with_hour,date,hour
0,19.075984,72.877656,3.666667,3.333333,2.666667,2/20/2019 12,2/20/2019,12
1,43.653226,-79.383184,3.333333,3.000000,3.333333,2/20/2019 12,2/20/2019,12
2,39.739236,-104.990251,3.000000,1.666667,1.666667,2/20/2019 12,2/20/2019,12
3,60.169856,24.938379,2.000000,3.666667,2.333333,2/20/2019 12,2/20/2019,12
4,38.907192,-77.036871,2.333333,4.000000,2.666667,2/20/2019 12,2/20/2019,12

In [ ]:
loc_dict = {}
for inst_row in df['ini'].index.tolist():
    
    inst_data = df['ini'].loc[inst_row]
    inst_lat = inst_data['lat']
    inst_lng = inst_data['long']
    
    string = str(inst_lat) + ', ' +str(inst_lng)
    try: 
        location = geolocator.reverse(string, language=language)

        loc_dict[inst_row] = location
    except: 
        print('error', inst_row)

/Users/nickfernandez/anaconda3/envs/py36lab/lib/python3.6/site-packages/ipykernel_launcher.py:10: DeprecationWarning: Unable to parse the string as Point: "Failed to create Point instance from string: unknown format.". Using the value as-is for the query. In geopy 2.0 this will become an exception.
  # Remove the CWD from sys.path while we load stuff.

error 52
error 60
error 84
error 258

In [27]:
len(location[0].split(', '))

8

In [1]:
from geopy.geocoders import Nominatim

In [9]:
lat = 19.0759837
lng = 72.8776559
language = 'en'
geolocator = Nominatim()

string = str(lat) + ', ' +str(lng)
location = geolocator.reverse(string, language=language)

location

# data = location.raw
# data = data['address']
# address = str(data)

# street = district = postalCode= state = country = countryCode = ""

# district    =str(data['city_district'])
# postalCode  =str(data['postcode'])
# state       =str(data['state'])
# country     =str(data['country'])
# countryCode =str(data['country_code']).upper()
# address = street +' '+ district  +' '+  postalCode  +' '+  state  +' '+  country  +' '+  countryCode

/Users/nickfernandez/anaconda3/envs/py36lab/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  after removing the cwd from sys.path.

Location(Santa Cruz â€“ Chembur Link Road, Hallow Pul, L Ward, Mumbai, Mumbai Suburban, Maharashtra, 400070, India, (19.0758993307114, 72.8776031402563, 0.0))